@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Figtree", sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth !important;
}

/* No Scrollbar */

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

img {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CARRER PAGE */
.carrer_bg {
  background-color: #f5f5f5;
  background-image: url("/images/career-landing-page-background.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.what_we_offer_bg {
  background: linear-gradient(48deg, #d17fe7 0%, #798dde 109.48%);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.open_positions_bg {
  background-image: url("/images/open-positions-background.png");
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

/* JOB DETAILS PAGE */

.job_details_bg {
  background-image: url("/images/jobdetailsbg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.job_details_email_bg {
  background-image: url("/images/jobdetailpatternemail.png"),
    linear-gradient(53deg, #d17fe7 10.48%, #8c7add 101.71%);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.get_to_know_the_team_bg {
  background: linear-gradient(274deg, #8c7add 0%, #d17fe7 99.77%);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.break_text {
  word-break: break-all !important;
}

/* GET TO KNOW THE TEAM SLIDER */

.gray-shadow {
  filter: grayscale(0.9) brightness(0.9) contrast(1.6);
  opacity: 0.7;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 3%;
  top: 50%;
}

.prev {
  left: 3%;
  top: 50%;
}

.open_position_custom_shadow {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

.three_box_image_shadow {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

/* LIFE AT TALQUE SLIDER */

.life_at_talque_carousel .slick-dots {
  bottom: -51px;
}

.three-box-wi .slick-current {
  width: 350px !important;
}

.get_to_know_team .slick-track {
  display: flex;
  align-items: center;
}

/* TRADESHOWS PAGE */

.tradeshow_get_the_most_out_bg {
  background-image: url("/images/TradeshowSection1BG.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_why_talque_bg {
  background-image: url("/images/why-talque-bg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_why_talque_about_bg {
  background-image: url("/images/tradeshow-itsallabotbg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_for_exhibitors_bg {
  background-image: url("/images/forexhibitorsbg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_for_exhibitors_revenue_bg {
  background-image: url("/images/maximizeimagerevenue.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_customer_voice_bg {
  background-image: url("/images/tradeshowsrectangle.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_customer_voice_bg .slick-slider .prev {
  top: 110% !important;
  position: absolute;
  left: 52%;
}

.tradeshow_customer_voice_bg .slick-slider .next {
  top: 110% !important;
  position: absolute;
  right: 52%;
}

.tradeshow_customer_voice_bg .slick-slider .arrow {
  background-color: transparent !important;
}

.tradeshow_contact_our_department_bg {
  background-image: url("/images/contactourservice.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_exhibitor_revenue_bg {
  background: linear-gradient(53deg, #d17fe7 10.48%, #798dde 101.71%);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.tradeshow_visitors_bg {
  background-image: url("/images/visitors_bg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

/* COMMON YOU WANT MORE EXPERIENCE */

.you_want_more_experience_bg {
  background-image: url("/images/youwantmoreexp.png"),
    linear-gradient(53deg, #d17fe7 10.48%, #798dde 101.71%);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* HOMEPAGE  */

.homepage_make_an_event_bg {
  background-image: url("/images/homepagesection1bg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage_trust_partner_bg {
  background-image: url("/images/homepagetrustedbybg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage_get_latest_update_bg {
  background-image: url("/images/homepagelatestupdatebg.svg"),
    url("/images/homepagelatestupdatepattern.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage_checkout_ways_bg {
  background-image: url("/images/homepagewaysbg.svg") !important;
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage_all_parts_together_bg {
  background-image: url("/images/homepageallpartstogetherbg.svg") !important;
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage_events_bg {
  background-image: url("/images/homepageeventbg.svg") !important;
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ANIMATED PAGE SCROLL */
.section {
  opacity: 0;
  transform: translateY(20px); /* Initially move the section down */
  transition: opacity 0.5s, transform 0.5s; /* Smooth transition for opacity and transform */
}

.section.scroll-animation {
  opacity: 1;
  transform: translateY(0); /* Move the section back to its original position */
}

.homepage_check_value_bg {
  background-image: url("/images/homepagecheckvaluebg.svg") !important;
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient_color {
  background: linear-gradient(53.25deg, #d17fe7 10.48%, #798dde 101.71%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.box-anim {
  animation: animName 2s linear infinite;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.why_talque_sec1_bg {
  background-image: url("/images/whytalquesec1bg1.svg"),
    url("/images/whytalquesec1bg.svg");
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%, 40%;
}

.why_talque_sec3_bg {
  background-image: url("/images/whytalquepagebg.svg");
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.small_rectangle_bg {
  background-image: url("/images/smallrectangle.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.interaction_data_bg {
  background-image: url("/images/interactiondatabg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.interaction_data_bg_1 {
  background: linear-gradient(53.25deg, #ead1f1 10.48%, #d2d8f0 101.71%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.interaction_section .slick-slide {
  width: fit-content !important;
  margin-right: 40px !important;
}

.interaction_section .slick-current {
  opacity: 20%;
}

.blog_section1_bg {
  background-image: url("/images/blog-section1-pattern.svg"),
    url("/images/blog-section1-bg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
}

.blog_details_sec2_bg {
  background-image: url("/images/blog-details-bg.svg") !important;
  background-color: white !important;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* multiline elipsis */
.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.homepage-sec6-hover:hover {
  box-shadow: 0px 24px 34px 0px #d17fe71a !important;
}

.releasenote-slider-dot .slick-dots .slick-active button:before {
  color: #227bef;
  font-size: 12px;
}

.releasenote-slider-dot .slick-dots li button:before {
  font-size: 8px;
  color: #8b8b8b;
}

.release-note-list-ui-bg {
  background-color: white;
  background-image: url("/images/release-notes-ui-bg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-gradient {
  border-radius: 10px;
  padding: 12px;
  background: linear-gradient(to right, #798dde 40%, #d17fe7 50%);
  border: 0px solid transparent;
}

/* get to know the team slider css */

.carousel-center-gettoknowteam .slick-slide {
  transform: scale(0.9);
  /* transition: all 0.4s ease-in-out; */
}

.carousel-center-gettoknowteam .slick-center {
  transform: scale(1);
}

@media (max-width: 425px) {
  .carousel-center-gettoknowteam .slick-center {
    transform: scale(0.9);
  }
}

.carousel-hover-image {
  transform: scale(1.1);
}

.carousel-center-gettoknowteam .slick-slide img {
  max-width: 100%;
  /* transition: all 0.4s ease-in-out; */
}

.carousel-center-gettoknowteam .slick-slider {
  padding-bottom: 20px;
}

/* life at talque slider css */

.carousel-center-lifetalque .slick-slide {
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
}

.carousel-center-lifetalque .slick-center {
  transform: scale(1);
}

.carousel-center-lifetalque .slick-slide img {
  max-width: 100%;
  transition: all 0.4s ease-in-out;
}

.carousel-center-lifetalque .slick-slider {
  padding-bottom: 20px;
}

.all-features-bg-bg {
  background-image: url("/images/all-features-bg.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.svgImage {
  transition: fill 0.3s ease;
}

.svgImage:hover {
  fill: red; /* Change to your desired color on hover */
}

.all-features-oursupport-bg {
  background-image: url("/images/oursupport.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

#blinking-image {
  padding: 8px 5px;
  border-radius: 48px 0px;
  border: 0px solid #6c8003;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#blinking-image {
  color: white;
  animation: blink 2s linear infinite;
}

.client_testimonials .slick-slide {
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
}

.client_testimonials .slick-center {
  transform: scale(1);
}